.l-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.l-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 40px;
}

.l-header {
  width: 100%;
  padding: 34px 0;
}

.page {
  display: block;
  position: relative;
  width: 100%;
}
